requests
beautifulsoup4
tqdm
langchain
langchain-community
faiss-cpu
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
tqdm
langchain-huggingface
langchain-ollama
sentence-transformers
fastapi
uvicorn
pydantic